// Specific CSS for your home-page

.navbar-brand {
  font-size: 30px;
  color: #00C585;
}
.nav-item btn {
  border-radius: 5px;
  color: white;
}

.pitch-1 {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.title {
  color:#27400C;
  text-align: center;
  padding-top: 2px;
}

.nav-link{
  color: black;

}
.btn nav-link {
  text-decoration: none;
}

.search{
  background-color: #1EDD87;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 8px;
  padding: 0px;
  top:calc(50% - 17px);
  border-radius: 50%;
}

.small-btn{
  color:black;

}

.search-input {
  padding-right:100px;
  height: 38px;
  border-radius: 30px;
  background-color: white;
}

.location {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border: 0px solid;
}

.sport-label {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border: 0px solid;

}

.date-label {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border: 0px solid;
}



.multi-search {
  background-color:#F3F2EF;
  width: 80%;
  height: 100px;
  border-radius: 50px;
  position: relative;
  top: -520px;
  margin: 0 auto;
  display: block;
}



.top-banner {
  width: 100%;
  img {
  object-fit: cover;
  // height: auto;
  border-radius: 8px;
  // display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
}

.middle-banner {
  display:flex;
  width: 100%;
  .middle-banner-left {
    width:45%;
  }
  .middle-banner-right{
    width:45%;
  }
  img {
  width:100%;
  height:70%;
  object-fit: cover;
  border-radius: 8px;
  }
}


.middle-banner-content-left {
  width:100%;
  height: 80px;
  background-color:#D84627;
  color: white;
  transform: translateY(-80px);
  align-items: center;
}

.book-now{
  background-color: white;
  border: 0px solid;
  border-radius: 10px;
  height: 30px;
  color: #D84627;
}

.middle-banner-content-right{
  width:100%;
  height: 80px;
  background-color:#9A9D68;
  color: white;
  transform: translateY(-80px);
  align-items: center;
}

.book-now2{
  background-color: white;
  border: 0px solid;
  border-radius: 10px;
  height: 30px;
  color: #9A9D68;
}




.third-banner {
  width: 100%;
  img {
  object-fit: cover;
  width:100%;
  border-radius: 8px;
  }
}

.earn-money{
  background-color: #D84627;
  color: white;
  justify-content: center;
  position: relative;
  bottom: 400px;
  left: 60px;
  width: 372px;
  height: 292px;
  border-radius: 30px;
  padding: 50px 10px;
}

.learn-more {
  border-radius: 10px;
  border: 0px solid;
  color: #D84627;
  background-color: white;
}
