.main {
  position: relative;
  width: 1200px;
  height: 3378px;
  margin: auto;

  background: #FFFFFF;
}

.pitch-title {
  position: absolute;
  width: 321px;
  height: 38px;
  left: 20px;
  top: 118px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  /* identical to box height, or 146% */
  letter-spacing: 0.64px;

  color: #000000;
}

.sport {
  position: absolute;
  width: 87px;
  height: 24px;
  left: 773px;
  top: 708px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
}

.address {
  position: absolute;
  width: 200px;
  height: 20px;
  left: 157px;
  top: 160px;

  // border-style: solid;
  // border-color: red;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #000000;
}

.reviews {
  position: absolute;
  width: 69px;
  height: 20px;
  left: 77px;
  top: 160px;

  display:block;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;
}

.reviews:hover {
  position: absolute;
  width: 69px;
  height: 20px;
  left: 77px;
  top: 160px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #7e7676;
}

.review-underline {
  position: absolute;
  width: 69px;
  height: 1px;
  left: 77px;
  top: 181px;

  background: #C2C2C2;
}

.country {
  position: absolute;
  width: 250px;
  height: 20px;
  left: 24px;
  top: 94px;

  display:block;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;

}

.country:hover {
  position: absolute;
  width: 250px;
  height: 20px;
  left: 24px;
  top: 94px;

  display:block;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #7e7676;
}

.rating-percentage {
  position: absolute;
  width: 34px;
  height: 20px;
  left: 36px;
  top: 160px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  color: #00C585;
}

.main {
  background-color: white;
}

.units-available {
  position: absolute;
  width: 54px;
  height: 30px;
  left: 53px;
  top: 689px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  /* identical to box height, or 158% */

  color: #000000;
}

.unit-line {
  position: absolute;
  width: 1px;
  height: 78px;
  left: 125px;
  top: 667px;

  background: #DEDEDE;
}

.players {
  position: absolute;
  width: 104px;
  height: 24px;
  left: 144px;
  top: 693px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;

  color: #000000;
}

.activities {
  position: absolute;
  width: 75px;
  height: 26px;
  left: 763px;
  top: 667px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.features {
  position: absolute;
  width: 129px;
  height: 26px;
  left: 966px;
  top: 667px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.private {
  position: absolute;
  width: 83px;
  height: 24px;
  left: 974px;
  top: 708px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  color: #000000;
}

.text-1 {
  position: absolute;
  width: 619px;
  height: 48px;
  left: 24px;
  top: 770px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #000000;
}

.text-2 {
  position: absolute;
  width: 627px;
  height: 144px;
  left: 24px;
  top: 834px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #000000;
}

.availability {
  position: absolute;
  width: 159px;
  height: 30px;
  left: 24px;
  top: 1049px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 143% */

  color: #000000;
}

.dates {
  position: absolute;
  width: 43px;
  height: 14px;
  left: 24px;
  top: 1090px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  /* identical to box height, or 108% */
  letter-spacing: 0.7px;
  text-transform: uppercase;

  color: #000000;
}

.date-box {
  box-sizing: border-box;

  position: absolute;
  width: 100px;
  height: 48px;
  left: 24px;
  top: 1127px;

  background: #FFFFFF;
  border: 1px solid #E5EADF;
  border-radius: 24px;
}

.enter-date {
  position: absolute;
  width: 87px;
  height: 26px;
  left: 50px;
  top: 1138px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height, or 153% */

  color: #818181;
}

.middle-line {
  position: absolute;
  width: 1152px;
  height: 1px;
  left: 24px;
  top: 1266px;

  background: #DEDEDE;
}

.pitch img {
  position: absolute;
  width: 1152px;
  height: 431px;
  left: 24px;
  top: 204px;

  border-radius: 20px;
}

.host img{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 26px;
  top: 1318px;

  border-radius: 50px;
}

.host-name {
  position: absolute;
  width: 168px;
  height: 30px;
  left: 88px;
  top: 1316px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 143% */

  color: #000000;
}

.host-join-date {
  position: absolute;
  width: 168px;
  height: 24px;
  left: 88px;
  top: 1346px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  color: #3C3C3C;
}

.thumbs-up img {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 20px;
  top: 164px;
}

.contact-box {
  box-sizing: border-box;

  position: absolute;
  width: 142px;
  height: 48px;
  left: 25px;
  top: 1382px;

  border: 1px solid #3C3C3C;
  border-radius: 8px;
}

.contact {
  position: absolute;
  width: 92px;
  height: 21px;
  left: 55px;
  top: 1395px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 129% */

  color: #000000;
}

.contact:hover {
  position: absolute;
  width: 92px;
  height: 21px;
  left: 55px;
  top: 1395px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 129% */

  color: #7e7676;
}

.contact-line {
  position: absolute;
  width: 1152px;
  height: 1px;
  left: 24px;
  top: 1477px;

  background: #DEDEDE;
}

.line-1 {
  position: absolute;
  width: 1152px;
  height: 1px;
  left: 24px;
  top: 1015px;

  background: #DEDEDE;
}

.review-thumbs-up img {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 20px;
  top: 1537px;
  }

.review-percentage {
  position: absolute;
  width: 51px;
  height: 34px;
  left: 40px;
  top: 1527px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 34px;
  /* identical to box height, or 126% */

  color: #00C585;
}

.ratings-reviews {
  position: absolute;
  width: 211px;
  height: 30px;
  left: 24px;
  top: 1569px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #000000;
}

.review-icon-1 img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 24px;
  top: 1632px;

  background: url(.png);
  border-radius: 0px;
}

.review-icon-2 img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 640px;
  top: 1631px;

  background: url(.png);
  border-radius: 0px;
}

.review-icon-3 img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 640px;
  top: 1781px;

  background: url(.png);
  border-radius: 0px;
}

// .green-circle-1 {
//   position: absolute;
//   width: 24px;
//   height: 24px;
//   left: 49px;
//   top: 1656px;

//   background: #00C585;
//   border-radius: 100px;
// }

.thumbs-up-1 img {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 55px;
  top: 1662px;
  background: #00C585;
}

.thumbs-up-2 img {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 671px;
  top: 1661px;
}

.thumbs-up-3 img {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 671px;
  top: 1811px;

}

.review-text-1 {
  position: absolute;
  width: 536px;
  height: 264px;
  left: 24px;
  top: 1689px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* or 141% */

  color: #000000;
}

.review-text-2 {
  position: absolute;
  width: 518px;
  height: 72px;
  left: 640px;
  top: 1689px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* or 150% */

  color: #000000;
}

.review-text-3 {
  position: absolute;
  width: 535px;
  height: 144px;
  left: 640px;
  top: 1840px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #000000;
}

.host-name-1 {
  position: absolute;
  width: 53px;
  height: 24px;
  left: 78px;
  top: 1633px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
}

.host-name-2 {
  position: absolute;
  width: 79px;
  height: 24px;
  left: 694px;
  top: 1632px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
}

.host-name-3 {
  position: absolute;
  width: 77px;
  height: 24px;
  left: 694px;
  top: 1782px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
}

.show-more-box {
  box-sizing: border-box;

  position: absolute;
  width: 128px;
  height: 48px;
  left: 536px;
  top: 2059px;

  border: 1px solid #3C3C3C;
  border-radius: 8px;
}

.show-more {
  position: absolute;
  width: 78px;
  height: 21px;
  left: 566px;
  top: 2072px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height, or 138% */

  color: #000000;
}

.show-more:hover {
  position: absolute;
  width: 78px;
  height: 21px;
  left: 566px;
  top: 2072px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height, or 138% */

  color: #7e7676;
}

.line-host {
  position: absolute;
  width: 1152px;
  height: 1px;
  left: 23px;
  top: 2139px;

  background: #DEDEDE;
}

.line-facilities {
  position: absolute;
  width: 1152px;
  height: 1px;
  left: 23px;
  top: 2316px;

  background: #DEDEDE;
}

.host-info {
  position: absolute;
  width: 132px;
  height: 30px;
  left: 25px;
  top: 2189px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 143% */

  color: #000000;
}

.host-info-text {
  position: absolute;
  width: 745px;
  height: 72px;
  left: 407px;
  top: 2190px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #000000;
  }

  .facility-info {
    position: absolute;
    width: 177px;
    height: 30px;
    left: 23px;
    top: 2366px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    /* identical to box height, or 143% */

    color: #000000;
  }

  .facility-info-text {
    position: absolute;
    width: 762px;
    height: 192px;
    left: 407px;
    top: 2367px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */

    color: #000000;
  }
