<div class="container">
  <ul>
  <div class="card-container">
    <% @pitches.each do |pitch| %>
    <div class="card">
      <img src="https://www.allcourts.co.uk/wp-content/uploads/2021/05/Cleatham-Centre-Court-006-2-1-scaled.jpeg" class="card-img-top">
      <div class="card-body">
        <li><%= pitch.sport %></li>
        <li><%=link_to pitch.name, pitch_path(pitch)%></li>
        <li><%= pitch.address %></li>
      </div>
    </div>
    <% end %>
  </ul>
  </div>
</div>
