<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# ----------Sports_filter below-------------------- %>
<div class="sports_filter">
<button class="btn"><i class="fa-solid fa-basketball fa-3x"></i> <br> Basketball</button>
<button class="btn"><i class="fa-regular fa-circle fa-3x"></i> <br> Tennis</button>
<button class="btn"><i class="fa-solid fa-futbol fa-3x"></i> <br> Football</button>
<button class="btn"><i class="fa-solid fa-feather fa-3x"></i> <br> Badminton</button>
<button class="btn"><i class="fa-solid fa-baseball-bat-ball fa-3x"></i> <br> Cricket</button>
<button class="btn"><i class="fa-regular fa-circle fa-3x"></i> <br> Padel</button>
<button class="btn"><i class="fa-solid fa-wine-bottle fa-3x"></i> <br> Pickleball</button>
<button class="btn"><i class="fa-solid fa-golf-ball-tee fa-3x"></i> <br> Golf </button>
<button class="btn"><i class="fa-solid fa-table-tennis-paddle-ball fa-3x"></i> <br> Tabletennis</button>
<button class="btn"><i class="fa-solid fa-volleyball fa-3x"></i> <br> Volleyball</button>
</div>


<%# ----------Sports_filter above-------------------- %>
